# MacOS
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Xcode
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.usercontent
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.xcuserstate

# CMake
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
CTestTestfile.cmake
*.cbp
compile_commands.json

# Visual Studio Code
.vscode/

# JUCE
JuceLibraryCode/
*.jucer.user
Builds/

# Audio Plugins
*.vst3
*.clap
*.component
*.app
*.vst
*.n-track
*.lv2

# C++
*.o
*.obj
*.so
*.dylib
*.dll
*.class
*.exe
*.out

# Clangd
.cache/

# installers
*.pkg
*.exe
*.zip
*.tar.gz
build/
Output/
Linux_Release/
macOS_Release/
Windows_Release/
staging/
